.button.small{
	background-color: #333;
	border-color: #333;
	color: #whiteslate;
}

.black-background{
	background-color: #333;
	color: #008CBA;
	padding: 5px 10px;
	margin-top: 25px;
	margin-bottom: 10px;
}

.black-button{
	background-color: #333;
	color: #008CBA;
}

.shot{
	background-color: #333;
}
.shot-note{
	padding-top:20px;
}

.shot-name{
	background-color: white;
	color:black;
}

.shot-drop{

}

.shots{
	padding:none !important;
}