
<!-- This header stuff shouldn't be in final version, should be in a separate file with only <body> changing -->
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch - Sign-Up</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/autocomplete.js"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>
    <script type = 'text/javascript' src="angular/createUserController.js"></script>

  </head>
  <body ng-controller="createUserController" class="offwhite-background">
  <!-- Include Navbar -->
  <!-- <div loadnavbar></div>   -->
  <!-- Center everything but navbar -->
  <div class="">
  
    <div class="row">
      <div class="large-12 columns">
        <h1>Join the Clutch</h1>
      </div>
    </div>
    
    <div class="row ">
      <div class="large-4 columns">

        <form id="newUserForm" name="myForm" ng-submit="onSubmit()" style="margin-top:4%">
          <!-- first name field -->
            <div class="row">
                <label class="login-label">First Name</label>
                <input class="blue-input" type="text" ng-model='fname' placeholder="Johny" required />
            </div>

          <!-- last name field -->
            <div class="row">
                <label class="login-label">Last Name</label>
                <input class="blue-input" type="text" ng-model='lname' placeholder="Appleseed" required />
            </div>

          <!-- username field -->
            <div class="row">
                <label class="login-label">Username</label>
                <input class="blue-input" type="text" ng-minlength='6' name='uname' ng-model='username' placeholder="jsqueezy" /><span ng-show='myForm.uname.$error.minlength' style='color:red;font-size:10pt'>* Username must be at least 6 characters in length</span>
            </div>

            <!-- email field -->
            <div class="row">
                <label class="login-label">Email</label>
                <input class="blue-input" type="email" ng-model='email' placeholder="youremail@address.com" />
            </div>

            <!-- password field -->
            <div class="row">
                <label class="login-label">Password</label>
                <input class="blue-input" type="password" name='pass' ng-model='password' ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/' placeholder="Choose a password" />
                <span ng-show='myForm.pass.$error.pattern' style='color:red;font-size:10pt'>* Password must be at least 8 characters in length and contain at least 1 number</span>
            </div>

            <!-- confirm password field -->
            <div class="row">
                <label class="login-label">Confirm Password</label>
                <input class="blue-input" type="password" ng-model='passwordconfirm' placeholder="Re-enter password"  required/>
                <span ng-show='password!=passwordconfirm' style='color:red; font-size:10pt'>* Passwords don't match</span>
            </div>

            <!-- phone number field -->
            <div class="row">
                <label class="login-label">Phone Number (with hyphens)</label>
                <input class="blue-input" type="text" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" placeholder="555-555-5555" ng-model='phoneNum' name="phone" required/>
                <span ng-show="myForm.phone.$error.pattern" style='color:red; font-size:10pt'>* Invalid Phone Number</span>
            </div>


             <!-- login button -->
             <div class="row ">
                <br><a href="#" ng-click='createUser()' class="button right login-button ">Create</a>
            </div>
        <!-- <div class="right"> -->
          
        <!-- </div> -->

          <!-- </div> -->
        </form>
      </div>
      <img class='right' src="baby.jpg" style="position:absolute;left:700px;top:120px;width:300px;height:400px"></img>
    </div>

<!-- End centering -->
   </div> 
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


