
<!-- This header stuff shouldn't be in final version, should be in a separate file with only <body> changing -->
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch - Edit Profile</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/autocomplete.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>
    <script type = 'text/javascript' src="angular/editProfileController.js"></script>
    <script type = 'text/javascript' src="angular/navbarController.js"></script>

  </head>
  <body ng-controller="editProfileController" class="offwhite-background">
  <!-- Include Navbar -->
  <div loadnavbar></div>  
  <!-- Center everything but navbar -->
  <div class="">
  
    <div class="row">
      <div class="large-12 columns">
        <h1>Personal Information</h1>
      </div>
    </div>
    
    <div class="row ">
      <div class="large-4 columns edit-profile-form-width">

        <form id="newUserForm" name="myForm" ng-submit="onSubmit()" style="margin-top:4%">
          <!--name label -->
            <div class="row">
                <label float="left" class="login-label edit-profile-labels">{{getFName()}} {{getLName()}}</label>
            </div>

          <!-- username label -->
            <div class="row">
                <label class="login-label">Username: {{getUsername()}}</label>
            </div>

            <!-- email label/field -->
            <div class="row">
                <label class="login-label edit-profile-labels">{{getEmail()}}</label>
                <a ng-click="showForm(1)" class="tiny edit-profile-edit-buttons">EDIT</a><br/>
            </div>
            <div ng-class="{'fadein':emailFieldVisible , 'fadeout':!emailFieldVisible}">
                <input class="blue-input edit-profile-fields" type="email" ng-model='newEmail' placeholder="newemail@address.com" />
                <a ng-click="setEmail()" class="tiny button navbar-button edit-profile-edit-buttons">Save Changes</a><br/>
            </div>

            <!-- password label -->
            <div class ="row">
                <a ng-click="showForm(2)" class="tiny edit-profile-edit-buttons">CHANGE PASSWORD</a><br/>
            </div>

            <!-- change password fields -->
            <div class ="row" ng-class="{'fadein':passwordFieldVisible , 'fadeout':!passwordFieldVisible}">
                <input class="blue-input" type="password" name='pass1' ng-model='new_password' ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/' placeholder="Choose a new password" required/>
                <input class="blue-input" type="password" name='pass2' ng-model='passwordconfirm' placeholder="Confirm Password" required/>
                <a ng-click="setPassword()" class="tiny button navbar-button edit-profile-edit-buttons">Save Changes</a><br/>
                <span ng-show='myForm.pass1.$error.pattern' style='color:red;font-size:10pt'>* Password must be at least 8 characters in length and contain at least 1 number</span>
                <span ng-show='new_password!=passwordconfirm' style='color:red; font-size:10pt'>* Passwords don't match</span>
            </div>

            <!-- phone number field -->
            <div class="row">
                <label class="login-label edit-profile-labels">Phone: {{getPhone()}}</label>
                <a ng-click="showForm(3)" class="tiny edit-profile-edit-buttons">EDIT</a><br/>
            </div>
            <div ng-class="{'fadein':phoneNumberFieldVisible , 'fadeout':!phoneNumberFieldVisible}">
                <input class="blue-input" type="text" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" placeholder="555-555-5555" ng-model='newPhone' name="phone" required/>
                <span ng-show="myForm.phone.$error.pattern" style='color:red; font-size:10pt'>* Invalid Phone Number</span>
                <a ng-click="setPhone()" class="tiny button navbar-button edit-profile-edit-buttons">Save Changes</a><br/>
            </div>
        
        </form>
      </div>
    </div>

<!-- End centering -->
    </div> 
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


