<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch</title>
    <!-- <link rel="stylesheet" href="../css/foundation.css" /> -->
    <link rel="shortcut icon" href="/favicon.ico" >
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <!--<script src="../js/vendor/modernizr.js"></script>-->    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/autocomplete.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>
    <script type = 'text/javascript' src="angular/forgotPasswordController.js"></script>

  </head>
  <body ng-controller="forgotPasswordController" class='login-background'> 

    <div class="default-size">
      <div ng-show="!changePasswordCodeEmailed">
        <label class="login-label">Enter Username: </label>
        <input class="blue-input" type="text" ng-model="username"/>
        <button ng-click="">Submit</button>
      </div>
      <div ng-show="changePasswordCodeEmailed">
        <label>Verification Code: </label>
        <input type="text" ng-model="code1" size="1" maxlength="4"/> -
        <input type="text" ng-model="code2" size="1" maxlength="4"/> -
        <input type="text" ng-model="code3" size="1" maxlength="4"/> -
        <input type="text" ng-model="code4" size="1" maxlength="4"/>
      </div>
      <div ng-show="canChangePassword">
        <label>New Password:</label>
        <input type="password" ng-model='password' ng-pattern='/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/'/>
        <label>Confirm Password:</label>
        <input/>
      </div>
    </div>
    
    <!--<script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>-->
  </body>
</html>
