<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>

  </head>
  <body ng-controller="indexController">
    <nav class="top-bar" data-topbar role="navigation"> 
      <ul class="title-area">
        <li class="name">
          <center><h1><a href="#">Clutch</a></h1></center>
        </li> 
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>
    </nav>    
    
    <!-- username field -->
    <form>
      <div class="panel" id='log'>
        <div class="row">
          <div ng-show="failLogin">
            <p>{{message}}</p>
          </div>
          <div class="large-4 medium-centered columns">
            <label>Username</label>
            <input type="text" ng-model='username' placeholder="username" />
          </div>
        </div>
        <!-- password field -->
        <div class="row">
          <div class="large-4 medium-centered columns">
            <label>Password</label>
            <input type="password" ng-model='password' placeholder="password" />
          </div>
        </div>
        <!-- login button -->
         <div class="row">
          <div class="large-4 medium-centered columns">
            <a href="#" ng-click='loginButton()' class="small radius button right">Login</a><br/>
          </div>
        </div>
      </div>
    </form>
    
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
