<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="shortcut icon" href="/favicon.ico" >
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>

  </head>
  <body ng-controller="indexController" class='login-background'> 

    <div class=''>
      <h1 class="text-center welcome">Welcome to the Clutch </h1>
    </div>


      <img class='center' src="chicken.jpg" style="width:200px;height:200px"></img>
         
    
    <!-- username field -->
    <div class="inside-ghost">
    <form ng-keypress="keypress($event);">
      <div class="" id='log'>
        <div class="row">

          <div class="large-4 medium-centered columns">
            <label class="login-label">Username</label>
            <input class="blue-input" type="text" ng-model='username' placeholder="" />
          </div>
        </div>
        <!-- password field -->
        <div class="row">
          <div class="large-4 medium-centered columns">
            <label class="login-label">Password</label>
            <input class="blue-input" type="password" ng-model='password' placeholder="" />

          </div>
        </div>
        <!-- error message -->
        <div class="row">
          <div class="large-4 medium-centered columns has-error-text" ng-show="failLogin">
              <p>{{message}}</p>
          </div>
        </div>
        <!-- login button -->
         <div class="row">
          <div class="large-4 medium-centered columns">
            <a href="#" ng-click='loginButton()' class=" button left login-button">Login</a>
            <a href="#" ng-click='signUp()' class=" button right signUp-button">Sign Up</a>
          </div>
        </div>
      </div>
    </form>
    </div>
    



    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
