<nav ng-controller="navbarController"  class="top-bar" data-topbar role="navigation"> 
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Clutch</a></h1> 
        </li> 
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>

      <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right"> 
          <li><a href="#" data-dropdown="dropCreateProj">Create New Project</a></li>
          <li><a href="#" data-dropdown="dropFindProj">Add Exisiting Project</a></li>
          <!-- <li class="active"><a href="#">Join Us</a></li>  -->
          <li class="has-dropdown"> 
            <a href="#">Username</a> 
            <ul class="dropdown">
              <li><a href="#" ng-click='logout()'>Logout</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li> 
            </ul> 
          </li> 
        </ul> 

      </section> 
    </nav>

          <!-- Create Project Dropdown -->
          <div ng-controller="navbarController"  id="dropCreateProj" data-dropdown-content class="f-dropdown content" >
               <form name="createForm" >
                  <div class="row">
                    <div class="">
                      <!-- <label class="login-label">Project Title</label> -->
                      <input name="title" class="blue-input" ng-model="titleC" required type="text" placeholder="Project Title" ng-class="{'has-error': attempted && createForm.title.$invalid}" />
                      <!-- <span ng-show="createForm.title.$error.required">Please enter something!</span> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="">
                      <!-- <label class="login-label">Passcode</label> -->
                      <input name="passkey" class="blue-input" ng-model="passcodeC" type="password" placeholder="Passkey" ng-class="{'has-error': attempted && createForm.passkey.$invalid}" required/>
                    </div>
                  </div>
                  <!-- login button -->
                   <div class="row">
                    <div class="">
                      <a type="submit" ng-click="createProject(createForm.$valid)" validate class="tiny expand button navbar-button">Create</a><br/>
                    </div>
                  </div>
                  <span ng-show="success" style="color:green">Success</span>
              </form>
          </div>

          <!-- Find Project Dropdown -->
          <div ng-controller="navbarController" id="dropFindProj" data-dropdown-content class="f-dropdown content" >
               <form>
                  <div class="row">
                    <div class="">
                      <input class="blue-input" ng-model="titleA" type="text" placeholder="Project Title" />
                    </div>
                  </div>
                  <!-- password field -->
                  <div class="row">
                    <div class="">
                      <input class="blue-input" ng-model="passcodeA" type="password" placeholder="Passkey" />
                    </div>
                  </div>
                  <!-- login button -->
                   <div class="row">
                    <div class="">
                      <a href="#" ng-click="addProjectButton()"class="tiny expand button navbar-button">Add</a><br/>
                    </div>
                  </div>
              </form>
          </div>