<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>  

  </head>
  <body class="offwhite-background" ng-controller='homeController'>
    <div loadnavbar></div>


    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome {{getName()}}!</h1>
      </div>
    </div>


 <form>
      <div class="panel" >

        <!-- Project buttons-->
	<!-- Button 1 -->
         <div class="row">
          <div class="large-6 large-centered columns" ng-repeat='project in userProjects'>
            <a href="#" ng-click='buttonClicked(project)' class="button large expand black-background">{{project.name}}</a>
          </div>
        </div>
      </div>
    </form>

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>


  </body>
</html>
