
<div ng-show="show" class="row">
  <div class="large-10 large columns panel right">
    <!-- <div class="panel"> -->

      <!-- <ul class="small-block-grid-2"> -->
        <!-- Left Grid -->
       <!-- <li> -->
       <div class="large-4 columns">
          <form class="">
            <div class="row">
            <!-- <div class="large-6 columns"> -->
              <div class="row collapse postfix">
                <div class="small-9 columns">
                  <input type="text" placeholder="Assign to">
                </div>
                <div class="small-3 columns ">
                  <a href="#" class="button postfix black-button">Assign</a>
                </div>
              </div>                  
            </div>

            <div class="row shot-note">
                <textarea rows="4" placeholder="Your note here." class=""></textarea>
            </div>
            <!-- add note button -->
            <!-- <div class="row"> -->
              <!-- <a href="#" class="tiny button black-button right">Post Note</a><br/> -->
       
          </form>
        </div> 
       <!-- </li> -->





        <!-- <li> -->
          <div class="large-2 columns">           
            <ul class=""> 
              <li><a href="#">Note 1 (Jim)</a></li>
               <li><a href="#">Note 2 (John)</a></li> 
               <li><a href="#">Note 3</a></li>
                <li><a href="#">Note 4</a></li> 
                <li><a href="#">Note 5</a></li> 
            </ul>
          </div>

          <div class="large-4 columns">           
            <p> Please make sure that this explosion is huge. I want to see stuff flying everywhere.
                Too many times our movies have baby explosions.<br />
                - John
            </p>
          </div>
        <!-- </li>  -->
      <!-- </ul> -->
    <!-- </div> -->
     
     <!--  <div class="shot-notes">

           <dl class="tabs vertical small" data-tab>
            <dd class=""><a href="#1panel">Note 1 (Ray)</a></dd>
             <dd><a href="#2panel" class="shot">Note 2 (Stewie)</a></dd> 
             <dd><a href="#3panel" class="shot">Note 3 </a></dd> 
             <dd><a href="#4panel" class="shot">Note 4 </a></dd> 
           </dl> 
            <div class="tabs-content"> 
              <div class="content active" id="1panel">
                <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p> 
              </div> 
              <div class="content" id="2panel"> 
                <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p> 
              </div> 
              <div class="content" id="3panel"> 
                <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p> 
              </div> 
              <div class="content" id="4panel">
               <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p> 
              </div> 
        </dd>
      </div> -->
    <!-- </div> -->
  </div>
</div>