<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>  

  </head>
  <body ng-controller="taskController">
    <!-- Include Navbar -->
    <div loadnavbar></div>  

    <div class="row">
      <div class="large-12 columns">
        <h1>Announcements</h1>
      </div>
    </div>


 <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <h3>We&rsquo;re stoked you want to work with Stew! </h3>
         <!--  <p>Here you will be able to view the most recent announcements associated with this project.</p>
          <p>Once you are tired of reading announcements, you can scroll down to get to work:</p>
          <div class="row">
            <div class="large-4 medium-4 columns">
          <p><a href="http://foundation.zurb.com/docs">I like</a><br />BLAH BLAH BLAH.</p>
        </div>
            <div class="large-4 medium-4 columns">
              <p><a href="http://github.com/zurb/foundation">to Move it</a><br />BLAH BLAH BLAH..</p>
            </div>      
          </div> -->
        </div>
      </div>
    </div>

  <div class="row">
      <h4  class="black-background"> Project Name </h4>

              

      <div class="right">
        <input id="checkbox1" type="checkbox"><label for="checkbox1">Show only my tasks</label>
      </div> 

  </div>



  <!-- Start Accordian -->
  <dl class="accordion row" data-accordion>
    <dd class="accordion-navigation" ng-repeat=>
      <a href="#seqA">Sequence A</a>
      <div id="seqA" class="content shots">
        <ul class="button-group">
          <li><a class="button shot-name">Shot 001 </a></li>
          <li><a class="button shot" data-dropdown="Lighting">Lighter</a></li>
          <li><a class="button shot" data-dropdown="Lighting">Animator</a></li>
          <li><a id="vfx" ng-click="showDropDown=!showDropDown" class="button shot" data-options="scrolltop:false">FX</a></li>
          <li><a class="button shot"> Shot Wrangler</a></li>
        </ul>
        <div showinfo></div> 
      </div>
    </dd>
<!-- Lighting Dropdown -->
          <div id="Lighting" data-dropdown-content class="f-dropdown content large" >
               <form>
                  <div class="row">
                    <div class="">
                      <label>Assign to:</label>
                      <input type="text" placeholder="" />
                    </div>
                  </div>
                  <!-- password field -->
                  <div class="row">
                    <div class="">
                      <label>Info</label>
                      <textarea placeholder="small-12.columns"></textarea>
                    </div>
                  </div>
                  <!-- login button -->
                   <div class="row">
                    <div class="">
                      <a href="#" class="small radius button">Add</a><br/>
                    </div>
                  </div>
              </form>
          </div>




    <dd class="accordion-navigation">
      <a href="#seq2">Sequence B</a>
      <div id="seq2" class="content">

       <dl class="tabs" data-tab>
        <dd class="shot-name"><a href="#panel1">Shot 1 (The Kiss):</a></dd>
         <dd><a href="#panel2" class="shot">Lighting (Stewie)</a></dd> 
         <dd><a href="#panel3" class="shot">Texturing</a></dd> 
         <dd><a href="#panel4" class="shot">Other Stuff</a></dd> 
         <dd><a href="#panel4" class="shot">Explosions</a></dd> 
         <dd><a href="#panel4" class="shot">Rigging</a></dd> 
       </dl> 
        <div class="tabs-content"> 
          <div class="content active" id="panel1">
            <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p> 
          </div> 
          <div class="content" id="panel2"> 
            <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p> 
          </div> 
          <div class="content" id="panel3"> 
            <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p> 
          </div> 
          <div class="content" id="panel4">
           <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p> 
          </div> 
        </div>
      </div>
    </dd>


    <dd class="accordion-navigation">
      <a href="#panel3">Sequence C</a>
      <div id="panel3" class="content">
        
      </div>
    </dd>
  </dl>

    // <script>
    //   $(document).ready( function() {
    //       $("#explosions").on("click", function() {
    //           $("#panelTexture").removeClass("hide");
    //           $("#panelTexture").load("test.html");
    //       });
    //   });
    // </script>

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>



  </body>
</html>