<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script type = 'text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script type = 'text/javascript' src="angular/app.js"></script>  

  </head>
  <body ng-controller="taskController" class='offwhite-background'>
    <!-- Include Navbar -->
    <div loadnavbar></div>  

    <div class="row">
      <div class="large-12 columns">
        <h1>Announcements</h1>
      </div>
      <a class="left" ng-click='postAnnTextBox = !postAnnTextBox' ng-show='postAnnTextBox == false'>+ New Announcement</a>
      <a class="left" ng-click='postAnnTextBox = !postAnnTextBox' ng-show='postAnnTextBox == true'>- Hide</a>
        <textarea rows="2" placeholder="New Announcement..." class="large-4 columns left" ng-model='message' ng-show='postAnnTextBox'></textarea>
        <button class="small button" ng-click="postAnnouncement();postAnnTextBox = !postAnnTextBox;" ng-show='postAnnTextBox'>Post</button>
    </div>


 <div class="row">
    <div class="large-12 columns" ng-repeat='ann in announcements|limitTo:announcementsLimit'>
      <div class="panel">
        <h6>{{ann.message}}</h6>
        <h6 class="right">{{ann.time | date:'MM/dd/yyyy HH:mm:ss'}}</h6>
      </div>
    </div>
    <div ng-if='announcementsLimit > 5'>
      <a ng-click='seeLess()'>See fewer announcements...</a>
    </div>
    <div ng-show='announcementsLimit != announcements.length'>
      <a ng-click='seeMore()'>See older announcements...</a>
    </div>
  </div>

  <div class="row">

      <h1  class="large-12 columns black-background">{{projectName}}</h1>


      <!-- <div class="right">
        <input id="checkbox1" type="checkbox"><label for="checkbox1">Show only my tasks</label>
      </div>  -->

  </div>



  <div class="row">    
      <div class="large-2 columns right">
        <div class="row collapse">
          <a ng-click="showForm()" class="tiny expand button navbar-button">Add Sequence</a><br/>
        </div>
      </div>
      <div class="large-2 columns right" ng-class="{'fadein':visible , 'fadeout':!visible}">
        <div class="row collapse">
          <div class="small-9 columns">
            <input class="blue-input" type="text" placeholder="Title" ng-model="title" ng-class="{'has-error' : attempted}">
          </div>
          <div class="small-3 columns">
            <a href="#" class="button postfix signUp-button" ng-click="addSequence()" >+</a>
          </div>
        </div>
      </div>
  </div>


<div class='row'>
    <a class='accordion row' ng-repeat="seq in sequences" ng-click="toggleBool(seq)">
        <table class="table large-12 columns" >
        <th> Sequence {{seq.name}}: </th>
        <th> Previs</th>
        <th> Animator</th>
        <th> Lighter</th>
        <th> Wrangler</th>
        <th> FX </div>
      </table>
      <ul ng-show="show(seq)" >
        <div ng-repeat='shot in getShots(seq)' ng-click='toggleBool(seq)'>
          <button class="small round button shot-button dropdown" data-dropdown="shotinfo">Shot {{shot.name}}</button>
          <button class="notes-button dropdown">Notes</button>
          <button class="shot-button-others button dropdown" data-dropdown="drop" aria-controls="drop", aria-expanded="false" ng-click='currentDropDown(seq,shot,previs)'>{{getPrevis(shot.id)}}</button>
          <button class="shot-button-others button dropdown" data-dropdown="drop" aria-controls="drop", aria-expanded="false" ng-click='currentDropDown(seq,shot,animator)'>{{getAnimator(shot.id)}}</button>
          <button class="shot-button-others button dropdown" data-dropdown="drop" aria-controls="drop", aria-expanded="false" ng-click='currentDropDown(seq,shot,lighter)'>{{getLighter(shot.id)}}</button>
          <button class="shot-button-others button dropdown" data-dropdown="drop" aria-controls="drop", aria-expanded="false" ng-click='currentDropDown(seq,shot,wrangler)'>{{getWrangler(shot.id)}}</button>
          <button class="shot-button-others button dropdown" data-dropdown="drop" aria-controls="drop", aria-expanded="false" ng-click='currentDropDown(seq,shot,fx)'>{{getFX(shot.id)}}</button>
        </div>
      </ul>
    </a>
</div>


<!-- <button data-dropdown="drop" aria-controls="drop", aria-expanded="false" class="small round button dropdown">Dropdown Button</button><br> -->
<ul id="drop" data-dropdown-content class="f-dropdown" role="menu", aria-hidden="false" >
  <li><input type="text" placeholder="Assign to"><a href="" class="button postfix black-button">Assign</a></li>
  <div class='panel' ng-repeat="note in notes">
    <p>{{note.note}}</p>
    <p class="right">~{{note.fname}} {{note.lname}}</p>
    <p class="right">{{note.time}}</p>
  </div>
</ul>





          <!-- <div id='Lighting'data-dropdown-content class="f-dropdown content large"showinfo></div> -->
  <!-- Start Accordian -->
 <!--  <dl class="accordion row" ng-repeat='seq in sequences' data-accordion>
    <dd class="accordion-navigation">
      <a href="#seqA">{{seq.name}}
        <div id="seqA" class="content shots" ng-click='showSeq=!showSeq'>
          <ul class="button-group">
            <li><a class="button shot-name">Shot 001 </a></li>
            <li><a class="button shot" data-dropdown="Lighting">Lighter</a></li>
            <li><a class="button shot" data-dropdown="Lighting">Animator</a></li>
            <li><a id="vfx" ng-click="showDropDown=!showDropDown" class="button shot" data-options="scrolltop:false">FX</a></li>
            <li><a class="button shot"> Shot Wrangler</a></li>
          </ul>
          <div showinfo></div> 
        </div>
      </a>
    </dd>
    </dl> -->
<!-- Lighting Dropdown -->
         <!--  <div id="Lighting" data-dropdown-content class="f-dropdown content large" >
               <form>
                  <div class="row">
                    <div class="">
                      <label>Assign to:</label>
                      <input type="text" placeholder="" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="">
                      <label>Info</label>
                      <textarea placeholder="small-12.columns"></textarea>
                    </div>
                  </div>
                   <div class="row">
                    <div class="">
                      <a href="#" class="small radius button">Add</a><br/>
                    </div>
                  </div>
              </form>
          </div> -->
  <!-- </dl> -->

    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>



  </body>
</html>