<!doctype html>
<html class="no-js" lang="en" ng-app='clutchApp'>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clutch</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/autocomplete.css">
    <!-- Do not change name of this file (app.css) -->
    <link rel="stylesheet" href="../css/app.css">
    <script src="../js/vendor/modernizr.js"></script>    
    <script src="angular/angular.js"></script>  
    <script type = 'text/javascript' src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type = 'text/javascript' src="angular/autocomplete.js"></script> 
    <script type = 'text/javascript' src="angular/app.js"></script>  

  </head>
  <body ng-controller="taskController" ng-init="getInfo()" class='offwhite-background'>
    <!-- Include Navbar -->
    <div loadnavbar></div>  

    <div class="row">
      <h1  class="large-12 columns black-background">{{projectName}}</h1>
    </div>

    <dl class="row tabs" data-tab>
      <dd class="active"><a href="#panel3">Announcements</a></dd>
      <dd><a href="#panel1">Shots</a></dd>
      <dd><a href="#panel2">Assets</a></dd>
      <!-- <dd><a href="#panel4">My Tasks</a></dd> -->
      <dd><a href="#panel5">Directory</a></dd>
    </dl>

    <div class="tabs-content">
      <!-- Announcements tab -->
      <div class="content active" id="panel3">
        <div class="row">
          <a class="left" ng-click='postAnnTextBox = !postAnnTextBox' ng-show='postAnnTextBox == false'><font size="2.5">+ New Announcement</font></a>
          <a class="left" ng-click='postAnnTextBox = !postAnnTextBox' ng-show='postAnnTextBox == true'><font size="2.5">- Hide</font></a>
            <br><br><textarea rows="2" placeholder="New Announcement..." class="large-4 columns left" ng-model='message' ng-show='postAnnTextBox'></textarea>
            <button class="small button" ng-click="postAnnouncement();postAnnTextBox = !postAnnTextBox;" ng-show='postAnnTextBox'>Post</button>
        </div>

        <div class="row">
          <div class="large-12 columns" ng-repeat='ann in announcements|limitTo:announcementsLimit'>
            <div class="panel">
              <h6>{{ann.message}}</h6>
              <h6 class="right" style="font-size:9pt">{{ann.time | date:'MM/dd/yyyy HH:mm:ss'}}</h6>
            </div>
          </div>
          <div ng-if='announcementsLimit > 5'>
            <a ng-click='seeLess()'><font size="2.5">See fewer announcements...</font></a>
          </div>
          <div ng-show='announcementsLimit != announcements.length'>
            <a ng-click='seeMore()'><font size="2.5">See older announcements...</font></a>
          </div>
        </div>
      </div>

      <!-- this is the shots tab -->
      <div class="content" id="panel1">
        <div class="row">    
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(9)" class="tiny expand button navbar-button">Add Sequence</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':addVisible , 'fadeout':!addVisible}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="addSequence()" >+</a>
              </div>
              <div class="small-9 columns">
                <input class="blue-input" type="text" placeholder="Title" ng-model="title" ng-class="{'has-error' : attempted}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(10)" class="tiny expand button navbar-button">Delete Sequence</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':deleteVisible , 'fadeout':!deleteVisible}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="deleteSequence()" >-</a>
              </div>
              <div class="small-9 columns">
                <select ng-model="sequenceName">
                  <option ng-repeat="seq in sequences" ng-click="toggleSeq($index)">{{seq.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <a class='accordion row' ng-repeat="seq in sequences" ng-click="toggleSeq($index)">
            <table class="table large-12 columns" >
              <th> Sequence {{seq.name}}: </th>
              <th> Previs</th>
              <th> Animator</th>
              <th> Lighter</th>
              <th> Rendering</th>
              <th> FX </th>
              <th> Compositing</th>
            </table>
            <ul>
              <div ng-repeat="shot in getShots(seq)" ng-click='toggleSeq($parent.$index)'>
                <button ng-show='showSeq($parent.$index)' 
                  class="small round button shot-button dropdown" 
                  ng-click='getShotById(shot.id)' 
                  data-dropdown="shotinfo">{{shot.name}}</button>
                <button ng-show='showSeq($parent.$index)' class="notes-button">Notes</button>
                <button ng-show='showSeq($parent.$index)' 
                  style="width:121px"
                  class="shot-button-others button" 
                  ng-click="getNotes(shot,'previs');enablePopup(previsName.email,popupEnum.ASSIGN,shot.id,'previs');setPopupMember(previsName);" 
                  ng-init="previsName=getPrevis(shot.id)">{{getPrevis(shot.id).fname}} {{getPrevis(shot.id).lname[0]}}</button>
                <button ng-show='showSeq($parent.$index)' 
                  style="width:128px" 
                  class="shot-button-others button"
                  ng-click="getNotes(shot,'animator');enablePopup(animatorName.email,popupEnum.ASSIGN,shot.id,'animator');setPopupMember(animatorName);" 
                  ng-init="animatorName=getAnimator(shot.id)">{{getAnimator(shot.id).fname}} {{getAnimator(shot.id).lname[0]}}</button>
                <button ng-show='showSeq($parent.$index)' 
                  style="width:124px" 
                  class="shot-button-others button" 
                  ng-click="getNotes(shot,'lighter');enablePopup(lighterName.email,popupEnum.ASSIGN,shot.id,'lighter');setPopupMember(lighterName);" 
                  ng-init="lighterName=getLighter(shot.id)">{{getLighter(shot.id).fname}} {{getLighter(shot.id).lname[0]}}</button>
                <button ng-show='showSeq($parent.$index)' 
                  style="width:133px" 
                  class="shot-button-others button" 
                  ng-click="getNotes(shot,'wrangler');enablePopup(wranglerName.email,popupEnum.ASSIGN,shot.id,'wrangler');setPopupMember(wranglerName);" 
                  ng-init="wranglerName=getWrangler(shot.id)">{{getWrangler(shot.id).fname}} {{getWrangler(shot.id).lname[0]}}</button>
                <button ng-show='showSeq($parent.$index)' 
                  style="width:110px;padding-right:5px;" 
                  class="shot-button-others button" 
                  ng-click="getNotes(shot,'fx');enablePopup(fxName.email,popupEnum.ASSIGN,shot.id,'fx');setPopupMember(fxName);" 
                  ng-init="fxName=getFX(shot.id)">{{getFX(shot.id).fname}} {{getFX(shot.id).lname[0]}}</button>
                <button ng-show='showSeq($parent.$index)'
                  style="width:141px" 
                  class="shot-button-others button" 
                  ng-click="getNotes(shot,'compositing');enablePopup(compositingName.email,popupEnum.ASSIGN,shot.id,'compositing');setPopupMember(compositingName);" 
                  ng-init="compositingName=getCompositing(shot.id)">{{getCompositing(shot.id).fname}} {{getCompositing(shot.id).lname[0]}}</button>
              </div>
            </ul>
            <div ng-show='showSeq($index)' class="row">
              <div class="large-2 columns right">
                  <button class="tiny expand button navbar-button" ng-click="showShotForm();toggleSeq($index)">Add Shot</button>
                  <button class="tiny expand button navbar-button" ng-click="showShotDeleteForm();toggleSeq($index)">Delete Shot</button>
              </div>
              <div class="large-10 columns right" ng-class="{'fadein':shotVisible , 'fadeout':!shotVisible}">
                <div class="small-3 columns">
                  <input ng-click='toggleSeq($index)'class="blue-input" type="text" placeholder="Title" ng-model="shotTitle" ng-class="{'has-error' : shotAttempted}">
                </div>
                <div class="small-8 columns">
                  <input ng-click='toggleSeq($index)'class="blue-input" type="text" placeholder="Description" ng-model="shotDesc" ng-class="{'has-error' : shotAttempted}">
                </div>
                <div class="small-1 columns">
                  <button href="#" class="button postfix signUp-button" ng-click="toggleSeq($index);addShot(seq,shotDesc,shotTitle)">+</button>
                </div>
              </div>
              <!-- DELETE SHOT -->
              <div class="large-10 columns right" ng-class="{'fadein':shotDelete , 'fadeout':!shotDelete}">
                <div class="small-1 columns right">
                  <button href="#" class="button postfix signUp-button" ng-click="toggleSeq($index);deleteShot(seq,shotName)">-</button>
                </div>
                <div class="small-3 columns right">
                  <select ng-click="toggleSeq($index)" ng-model="shotName">
                    <option ng-repeat="shot in getShots(seq)">{{shot.name}}</option>
                  </select>
                </div>
                <!--<div class="small-3 columns">
                  <input ng-click='toggleSeq(seq)'class="blue-input" type="text" placeholder="Title" ng-model="shotTitle" ng-class="{'has-error' : shotAttempted}">
                </div>
                <div class="small-8 columns">
                  <input ng-click='toggleSeq(seq)'class="blue-input" type="text" placeholder="Description" ng-model="shotDesc" ng-class="{'has-error' : shotAttempted}">
                </div>
                <div class="small-1 columns">
                  <button href="#" class="button postfix signUp-button" ng-click="toggleSeq(seq);addShot(seq,shotDesc,shotTitle)">+</button>
                </div>-->
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- this is the assets tab................................................................................................................. -->
      <div class="content" id="panel2">
        <div class="row">
          <div class="large-3 columns">
            <h2 class="asset-types">Character</h2>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(1)" class="tiny expand button navbar-button">Add Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':addVisibleChar , 'fadeout':!addVisibleChar}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="addAsset('CHAR',charAssetTitle);charAssetTitle=''">+</a>
              </div>
              <div class="small-9 columns">
                <input class="blue-input" type="text" placeholder="Title" ng-model="charAssetTitle" ng-class="{'has-error' : attempted}">
              </div>
            </div>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(2)" class="tiny expand button navbar-button">Delete Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':deleteVisibleChar , 'fadeout':!deleteVisibleChar}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="deleteAsset(CharAssetName)">-</a>
              </div>
              <div class="small-9 columns">
                <select ng-model="CharAssetName">
                  <option ng-repeat="ass in charAssets">{{ass.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="lineBreak" noshade="true">

        <div class="row">
          <a class='accordion row' ng-repeat="ass in charAssets" ng-click="toggleAsset($index,0)">
            <table class="asset-table" >
              <th>  {{ass.name}}: </th>
              <th>  Modeling</th>
              <th>  Shading</th>
              <th>  Rigging</th>
            </table>
            <ul ng-show="showAssets(0,$index)" >
              <div ng-click='toggleAsset($index,0)'>
                <button class="asset-note-button">Notes</button>
                <button style="width:128px"
                  class="asset-other-button button" 
                  ng-init="charModel=getModeling(ass.id)" 
                  ng-click="setPopupMember(charModel)">{{getModeling(ass.id).fname}} {{getModeling(ass.id).lname[0]}}</button>
                <button style="width:126px" 
                  class="asset-other-button button"
                  ng-init="charShading=getShading(ass.id)" 
                  ng-click='setPopupMember(charShading)'>{{getShading(ass.id).fname}} {{getShading(ass.id).lname[0]}}</button>
                <button style="width:128px" 
                class="asset-other-button button" 
                ng-init="charRigging=getRigging(ass.id)" 
                ng-click='setPopupMember(charRigging)'>{{getRigging(ass.id).fname}} {{getRigging(ass.id).lname[0]}}</button>
              </div>
            </ul>
          </a>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <h3 class="asset-types-props">Character Props</h3>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(3)" class="tiny expand button navbar-button">Add Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':addVisibleCharProp , 'fadeout':!addVisibleCharProp}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="addAsset('CHAR_PROP',charPropAssetTitle);charPropAssetTitle=''">+</a>
              </div>
              <div class="small-9 columns">
                <input class="blue-input" type="text" placeholder="Title" ng-model="charPropAssetTitle" ng-class="{'has-error' : attempted}">
              </div>
            </div>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(4)" class="tiny expand button navbar-button">Delete Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':deleteVisibleCharProp , 'fadeout':!deleteVisibleCharProp}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="deleteAsset(CharPropAssetName)">-</a>
              </div>
              <div class="small-9 columns">
                <select ng-model="CharPropAssetName">
                  <option ng-repeat="ass in charPropAssets">{{ass.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="lineBreak-props" noshade="true">
        <div class="row">
          <a class='accordion row' ng-repeat="ass in charPropAssets" ng-click="toggleAsset($index,1)">
            <table class="asset-table" >
              <th>  {{ass.name}}: </th>
              <th>  Modeling</th>
              <th>  Shading</th>
              <th>  Rigging</th>
            </table>
            <ul ng-show="showAssets(1,$index)" >
              <div ng-click='toggleAsset($index,1)'>
                <button class="asset-note-button">Notes</button>
                <button style="width:128px"
                  class="asset-other-button button" 
                  ng-init="charPropModel=getModeling(ass.id)" 
                  ng-click='setPopupMember(charPropModel)'>{{getModeling(ass.id).fname}} {{getModeling(ass.id).lname[0]}}</button>
                <button style="width:126px" 
                  class="asset-other-button button" 
                  ng-init="charPropShading=getShading(ass.id)" 
                  ng-click='setPopupMember(charPropShading)'>{{getShading(ass.id).fname}} {{getShading(ass.id).lname[0]}}</button>
                <button style="width:128px" 
                  class="asset-other-button button" 
                  ng-init="charPropRigging=getRigging(ass.id)" 
                  ng-click='setPopupMember(charPropRigging)'>{{getRigging(ass.id).fname}} {{getRigging(ass.id).lname[0]}}</button>
              </div>
            </ul>
          </a>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <h2 class="asset-types">Environment</h2>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(5)" class="tiny expand button navbar-button">Add Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':addVisibleEnv , 'fadeout':!addVisibleEnv}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="addAsset('ENV',envAssetTitle);envAssetTitle=''">+</a>
              </div>
              <div class="small-9 columns">
                <input class="blue-input" type="text" placeholder="Title" ng-model="envAssetTitle" ng-class="{'has-error' : attempted}">
              </div>
            </div>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(6)" class="tiny expand button navbar-button">Delete Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':deleteVisibleEnv , 'fadeout':!deleteVisibleEnv}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="deleteAsset(envAssetName)">-</a>
              </div>
              <div class="small-9 columns">
                <select ng-model="envAssetName">
                  <option ng-repeat="ass in envAssets">{{ass.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="lineBreak" noshade="true">
        <div class="row">
          <a class='accordion row' ng-repeat="ass in envAssets" ng-click="toggleAsset($index,2)">
            <table class="asset-table" >
              <th>  {{ass.name}}: </th>
              <th>  Modeling</th>
              <th>  Shading</th>
              <th>  Rigging</th>
            </table>
            <ul ng-show="showAssets(2,$index)" >
              <div ng-click='toggleAsset($index,2)'>
                <button class="asset-note-button">Notes</button>
                <button style="width:128px"
                  class="asset-other-button button" 
                  ng-init="envModel=getModeling(ass.id)" 
                  ng-click='setPopupMember(envModel)'>{{getModeling(ass.id).fname}} {{getModeling(ass.id).lname[0]}}</button>
                <button style="width:126px" 
                  class="asset-other-button button" 
                  ng-init="envShading=getShading(ass.id)" 
                  ng-click='setPopupMember(envShading)'>{{getShading(ass.id).fname}} {{getShading(ass.id).lname[0]}}</button>
                <button style="width:128px" 
                  class="asset-other-button button" 
                  ng-init="envRigging=getRigging(ass.id)" 
                  ng-click='setPopupMember(envRigging)'>{{getRigging(ass.id).fname}} {{getRigging(ass.id).lname[0]}}</button>
              </div>
            </ul>
          </a>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <h3 class="asset-types-props">Environment Props</h3>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(7)" class="tiny expand button navbar-button">Add Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':addVisibleEnvProp , 'fadeout':!addVisibleEnvProp}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="addAsset('ENV_PROP',evnPropAssetTitle);envPropAssetTitle=''">+</a>
              </div>
              <div class="small-9 columns">
                <input class="blue-input" type="text" placeholder="Title" ng-model="envPropAssetTitle" ng-class="{'has-error' : attempted}">
              </div>
            </div>
          </div>
          <div class="large-2 columns left">
            <div class="row collapse">
              <a ng-click="showForm(8)" class="tiny expand button navbar-button">Delete Asset</a><br/>
            </div>
          </div>
          <div class="large-2 columns left" ng-class="{'fadein':deleteVisibleEnvProp , 'fadeout':!deleteVisibleEnvProp}">
            <div class="row collapse">
              <div class="small-3 columns">
                <a href="#" class="button postfix signUp-button" ng-click="deleteAsset(envPropAssetName)">-</a>
              </div>
              <div class="small-9 columns">
                <select ng-model="envPropAssetName">
                  <option ng-repeat="ass in envPropAssets">{{ass.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <hr class="lineBreak-props" noshade="true">
        <div class="row">
          <a class='accordion row' ng-repeat="ass in envPropAssets" ng-click="toggleAsset($index,3)">
            <table class="asset-table" >
              <th>  {{ass.name}}: </th>
              <th>  Modeling</th>
              <th>  Shading</th>
              <th>  Rigging</th>
            </table>
            <ul ng-show="showAssets(3,$index)">
              <div ng-click='toggleAsset($index,3)'>
                <button class="asset-note-button">Notes</button>
                <button style="width:128px"
                  class="asset-other-button button" 
                  ng-init="envPropModel=getModeling(ass.id)" 
                  ng-click='setPopupMember(envPropModel)'>{{getModeling(ass.id).fname}} {{getModeling(ass.id).lname[0]}}</button>
                <button style="width:126px" 
                  class="asset-other-button button" 
                  ng-init="envPropShading=getShading(ass.id)" 
                  ng-click='setPopupMember(envPropShading)'>{{getShading(ass.id).fname}} {{getShading(ass.id).lname[0]}}</button>
                <button style="width:128px" 
                  class="asset-other-button button" 
                  ng-init="envPropRigging=getRigging(ass.id)" 
                  ng-click='setPopupMember(envPropRigging)'>{{getRigging(ass.id).fname}} {{getRigging(ass.id).lname[0]}}</button>
              </div>
            </ul>
          </a>
        </div>
      </div>

      <div class="content" id="panel5">
        <div class="row">
          <table class="large-12">
            <tr>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Message</th>
            </tr>
            <tr ng-repeat='user in members'>
              <td>{{user.fname}}</td>
              <td>{{user.lname}}</td>
              <td>{{user.email}}</td>
              <td>{{user.phone}}</td>
              <td>
                <button id="user.email" ng-click="enablePopup(user.email, popupEnum.MESSAGE)">Send Message</button>
              </td>
            </tr>
          </table>
        </div>
      </div>

 <!--    <ul id="drop" data-dropdown-content class="f-dropdown" role="menu", aria-hidden="false" >



      <li> -->
        <!-- <input type="text" placeholder="Assign to"> -->
      <!--   <autocomplete ng-model="result" attr-placeholder="type to assign member..." click-activation="true" data="assignMembers" on-type="updateSuggestions" on-select="doSomethingElse"></autocomplete>

        <a href="" class="button postfix black-button" ng-click='assign()'>Assign</a>
      </li>
      <div class='panel' ng-repeat="note in notes">
        <p>{{note.note}}</p>
        <p class="right">~{{note.fname}} {{note.lname}}</p>
        <p class="right">{{note.time}}</p>
      </div>
    </ul> -->

    <div id="shotinfo" data-dropdown-content class="f-dropdown" role="menu", aria-hidden="false" >
      <table>
        <tr><div class="large-12 columns black-background" style="margin:2px">Frames:{{currentShot.frames}}</div></tr>
        <tr>
            <td><input type="text" style="margin:0px; border:0px; padding:0px" ng-model="frameCt" placeholder="Frames"></td>
            <td><button style="margin:0px; border:0px; padding:2px" ng-click="frameCt=setFrameCt(frameCt)">+</button></td>
        </tr>
      </table>
      <div class="large-12 columns black-background" style="margin:2px">Status:{{currentShot.status}}</div>
      <form>
          <input type="radio" name="status" ng-model="newStatus" value="Previs" ng-change="setNewStatus(newStatus)">Previs<br>
          <input type="radio" name="status" ng-model="newStatus" value="Animation" ng-change="setNewStatus(newStatus)">Animation<br>
          <input type="radio" name="status" ng-model="newStatus" value="Lighting" ng-change="setNewStatus(newStatus)">Lighting<br>
          <input type="radio" name="status" ng-model="newStatus" value="Compositing" ng-change="setNewStatus(newStatus)">Compositing<br>
          <input type="radio" name="status" ng-model="newStatus" value="Final" ng-change="setNewStatus(newStatus)">Final<br>
          <input type="radio" name="status" ng-model="newStatus" value="Polish" ng-change="setNewStatus(newStatus)">Polish<br>
          <input type="radio" name="status" ng-model="newStatus" value="Done" ng-change="setNewStatus(newStatus)">Done<br>
      </form>
      <div class="large-12 columns black-background" style="margin:2px">{{currentShot.description}}</div>
    </div>

    <ul id="notesDrop" data-dropdown-content class="f-dropdown" role="menu", aria-hidden="false">
      <li><input type="text" placeholder="Assign to"><a href="" class="button postfix black-button">Assign</a></li>
      <div class='panel' ng-repeat="note in notes">
        <p>{{note.note}}</p>
        <p class="right">~{{note.fname}} {{note.lname}}</p>
        <p class="right">{{note.time}}</p>
      </div>
    </ul>
  
    <div id="shadow" ng-click="disablePopup()"></div>
    <div id="shadowBox">
      <form>
        <label>Subject:
          <input type="text" ng-model="emailSubject"/>
        </label>
        <label>Message
          <textarea ng-model="emailBody"></textarea>
        </label>
        <button ng-click="sendMessage()">Send</button>
      </form>
    </div>
    <div id="noteBox">
      <div ng-if="showAutoComplete()">
        <autocomplete ng-model="assignedMember" 
          attr-placeholder="type member name..." 
          click-activation="true" 
          data="assignMembers" 
          on-type="updateSuggestions" 
          on-select=""></autocomplete>
        <button  ng-click="assignMember(assignedMember)">Assign</button>
      </div>
      <div ng-if="!showAutoComplete()">
        <p><b>Assigned To:</b> {{popupMember.fname}} {{popupMember.lname}}</p>
      </div>
      <hr>
      <div class='panel' ng-repeat="note in notes">
        <p>{{note.note}}</p>
        <img class="right" width="18"src="trash.png" ng-click="deleteNote(note.id)" />
        <p class="right">~{{note.fname}} {{note.lname}}</p>
        <p class="right">{{note.time}}</p>
      </div>
      <textarea placeholder="notes" ng-model="noteField"></textarea>
      <button ng-click="addNote();">Add Note</button>
    </div>



  </body>
</html>