<!DOCTYPE html>
<html ng-app="AcuteTest">

  <head>
    <meta charset="utf-8" />
    <title>First Angular App</title>
    <script type='text/javascript' src="angular/angular.js"></script>
    <script type='text/javascript' src="angular/AcuteTest.js"></script>
    <link href="../css/acute.select.css" rel="stylesheet"/>
    <script type="text/javascript" src="angular/acute.select.js"></script>
  </head>

  <body ng-controller="MainController">
    
    <!-- <ac-select ac-model="data.selectedShape" ac-options="for shape in shapes"></select> -->

   <!--  <ac-select ac-model='selectedColour' ac-options='state.name for state in getStates()'
    ac-change='selectionChanged(value)' ac-settings='{ loadOnOpen: true }'></select> -->
<select class="ac-select stateList" ac-model="selectedMember" ac-options="s.fname for s in getAllStates()" 
        ac-settings="{ comboMode: true, loadOnOpen: true, minWidth: '300px' }" ac-change="stateSelected(value)"></select>

  </body>

</html>
